/******
* DEMO
*******/
/* Demo specific css
   ========================================================================== */
.demoPage {
  max-width: 80em;
  margin: 0 auto;
  padding: 0 1em;
}
.demoPage h1 {
  font-size: 2rem;
  margin-bottom: 1em;
  text-align: center;
}
.demoPage h2 {
  margin-top: 3em;
}
.demoPage a {
  color: steelblue;
}
.header {
  background: steelblue;
  position: relative;
  margin-bottom: 50px;
  color: white;
  padding: 4em 0 1em;
  text-align: center;
}
.header a {
  color: inherit;
  text-decoration: none;
}
.header:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  bottom: 0;
  transform: skewY(4deg);
  transform-origin: 0%;
}
.header h1 {
  display: inline-flex;
  align-items: center;
  font-size: 3rem;
  border-bottom: 10px solid #fff;
  border-top: 10px solid #fff;
  border-radius: 18px;
  padding: .8rem 2.6rem;
  text-transform: uppercase;
  margin-bottom: .3em;
}
.header h1:before {
  content: '';
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  margin-right: 5px;
  height: 40px;
  width: 42px;
  border: 1px solid steelblue;
  background-color: white;
  background-image: linear-gradient(to top, steelblue 2px, transparent 2px), linear-gradient(to left, steelblue 2px, transparent 2px), linear-gradient(to left, steelblue 2px, transparent 2px);
  background-size: 100% 50%, 50% 50%, 100%, 100%;
  background-position: 0 0, 0 100%, 0 0;
  background-repeat: repeat-y, repeat-x;
}
.header p {
  color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
}
.github-button iframe {
  margin: 0 .5rem .5rem;
}
section {
  position: relative;
  margin: 2em 0 4em;
}
section:before {
  content: '';
  display: inline-flex;
  border: 1px solid steelblue;
  width: 100%;
  align-items: stretch;
  position: absolute;
  bottom: 20px;
}
section:after {
  content: '';
  position: relative;
  display: block;
  margin: 5rem auto;
  height: 40px;
  width: 42px;
  border: 7px solid white;
  border-left-width: 9px;
  background-color: steelblue;
  background-image: linear-gradient(to top, white 2px, transparent 2px), linear-gradient(to left, white 2px, transparent 2px), linear-gradient(to left, white 2px, transparent 2px);
  background-size: 100% 50%, 50% 50%, 100%, 100%;
  background-position: 0 0, 0 100%, 0 0;
  background-repeat: repeat-y, repeat-x;
}
footer {
  background: steelblue;
  padding: 1em 0;
  text-align: center;
}
footer p {
  color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
}
footer a {
  color: inherit;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table td,
table th {
  border: 1px solid rgba(147, 128, 108, 0.5);
  padding: .5em;
}
.bs-callout,
pre {
  padding: 1.25em;
  margin: 1.6em 0;
  background: #fcfcfc;
  border: 1px solid #e6e6e6;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout {
  max-width: 100%;
  overflow-x: auto;
  border-color: #2ecc71;
}
pre {
  overflow-x: auto;
  font-size: .875em;
  white-space: pre;
  word-wrap: normal;
}
pre.doc {
  border-color: #2ecc71;
}
/**/
.demo {
  width: 100%;
  background: rgba(147, 128, 108, 0.2);
  text-align: center;
}
.demo p {
  margin: 0;
  padding: 1rem;
}
@media screen and (max-width: 35.5em) {
  .demo p {
    padding: .5rem;
  }
}
.demo-explain {
  margin: 0;
  padding: 0;
}
.demo img {
  display: block;
  max-width: 100%;
  height: auto;
}
.withBorder {
  border: 1px solid rgba(147, 128, 108, 0.5);
}
.withBorder .col,
.withBorder [class*='col-'] {
  padding: 0;
}
.withBorder .demo {
  border: 1px solid rgba(147, 128, 108, 0.5);
}
/* Tooltip */
section:nth-child(n+3) [class*="grid-"],
section:nth-child(n+3) [class*="col-"] {
  position: relative;
  cursor: help;
}
section:nth-child(n+3) [class*="grid-"]:hover:after,
section:nth-child(n+3) [class*="col-"]:hover:after {
  content: attr(class);
  padding: 2px 8px;
  position: absolute;
  left: 0.5rem;
  top: 0;
  white-space: nowrap;
  z-index: 20;
  background-color: #555;
  color: #fff;
  font-size: .8rem;
}
