/* ==========================================================================
    GRIDLEX
    Just a Flexbox Grid System
========================================================================== */

/************************
    VARIABLES
*************************/
// Gutter: for negative margins on grid & paddings on columns
@gutter:    .5rem;

// Breakpoints for @media-queries:
@xs:        ~"screen and (max-width: 35.5em)"; // up to 568px
@sm:        ~"screen and (min-width: 35.5em) and (max-width: 48em)"; // from 568px to 768px
@md:        ~"screen and (min-width: 48em) and (max-width: 64em)"; // from 768px to 1024px
@lg:        ~"screen and (min-width: 64em) and (max-width: 80em)"; // from 1024px to 1280px
@xl:        ~"screen and (min-width: 80em)"; // from 1280px


/************************
    GRID
*************************/
.grid{
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
    margin: 0 -@gutter;
}

/* No spacing between cols : noGutter */
    .noGutter{
        margin: 0;
        > [class*='col-']{
            padding: 0;
        }
    }

/* Horizontal aligment */
    .alignCenter{
        justify-content: center;
    }
    .alignRight{
        justify-content: flex-end;
        margin-left: auto;
    }
/* Vertical aligment */
    .alignMiddle{
        align-items: center;
    }
    .alignBottom{
        align-items: flex-end;
    }

/* Orders */
    .orderReverse{
        flex-direction: row-reverse;
    }
    .orderColumn {
        flex-flow: column;
    }

/* Spaces */
    .spaceBetween{
        justify-content: space-between;
    }
    .spaceAround{
        justify-content: space-around;
    }

/* Equal heights columns */
    .equalHeight > [class*='col-']{
        display: flex;
    }



/************************
    COLS
*************************/
[class*='col-'] {
    flex: 0 0 auto;
    padding: 0 @gutter (@gutter*2);
}

/* Cols alignments */
    .selfCenter{
        align-self: center;
    }
    .selfRight{
        margin-left: auto;
    }
    .orderFirst{
        order: -1;
    }
    .orderLast{
        order: 1;
    }

/* Cols sizes */
    .col-auto{
        flex: 1 1 0;
    }
    .col-1-1,
    .col-2-2,
    .col-3-3,
    .col-4-4,
    .col-5-5,
    .col-6-6,
    .col-7-7,
    .col-8-8 {
        flex-basis: 100%;
        max-width: 100%;
    }
    .col-1-2,
    .col-2-4,
    .col-3-6,
    .col-4-8 {
        flex-basis: calc(100%/2);
        max-width: calc(100%/2);
    }
    .col-1-3,
    .col-2-6 {
        flex-basis: calc(100%/3);
        max-width: calc(100%/3);
    }
    .col-1-4,
    .col-2-8 {
        flex-basis: calc(100%/4);
        max-width: calc(100%/4);
    }
    .col-1-5 {
        flex-basis: calc(100%/5);
        max-width: calc(100%/5);
    }
    .col-1-6{
        flex-basis: calc(100%/6);
        max-width: calc(100%/6);
    }
    .col-1-7 {
        flex-basis: calc(100%/7);
        max-width: calc(100%/7);
    }
    .col-1-8 {
        flex-basis: calc(100%/8);
        max-width: calc(100%/8);
    }
    .col-2-3,
    .col-4-6 {
        flex-basis: calc(100%/1.49998);
        max-width: calc(100%/1.49998);
    }
    .col-2-5 {
        flex-basis: calc(100%/2.5);
        max-width: calc(100%/2.5);
    }
    .col-2-7 {
        flex-basis: calc(100%/3.5);
        max-width: calc(100%/3.5);
    }
    .col-3-4,
    .col-6-8 {
        flex-basis: calc(100%/1.33333);
        max-width: calc(100%/1.33333);
    }
    .col-3-5 {
        flex-basis: calc(100%/1.66666);
        max-width: calc(100%/1.66666);
    }
    .col-3-7 {
        flex-basis: calc(100%/2.33333);
        max-width: calc(100%/2.33333);
    }
    .col-3-8 {
        flex-basis: calc(100%/2.66666);
        max-width: calc(100%/2.66666);
    }
    .col-4-5 {
        flex-basis: calc(100%/1.25);
        max-width: calc(100%/1.25);
    }
    .col-4-7 {
        flex-basis: calc(100%/1.75);
        max-width: calc(100%/1.75);
    }
    .col-5-6{
        flex-basis: calc(100%/1.2);
        max-width: calc(100%/1.2);
    }
    .col-5-7 {
        flex-basis: calc(100%/1.4);
        max-width: calc(100%/1.4);
    }
    .col-5-8 {
        flex-basis: calc(100%/1.6);
        max-width: calc(100%/1.6);
    }
    .col-6-7 {
        flex-basis: calc(100%/1.166666);
        max-width: calc(100%/1.166666);
    }
    .col-7-8 {
        flex-basis: calc(100%/1.143);
        max-width: calc(100%/1.143);
    }

/* Offset sizes */
    .off-1-2,
    .off-2-4,
    .off-3-6,
    .off-4-8{
        margin-left: calc(100%/2);
    }
    .off-1-3,
    .off-2-6{
        margin-left: calc(100%/3);
    }
    .off-1-4,
    .off-2-8{
        margin-left: calc(100%/4);
    }
    .off-1-5{
        margin-left: calc(100%/5);
    }
    .off-1-6{
        margin-left: calc(100%/6);
    }
    .off-1-7{
        margin-left: calc(100%/7);
    }
    .off-1-8{
        margin-left: calc(100%/8);
    }
    .off-2-3,
    .off-4-6{
        margin-left: calc(100%/1.5);
    }
    .off-2-5{
        margin-left: calc(100%/2.5);
    }
    .off-2-7{
        margin-left: calc(100%/2.5);
    }
    .off-3-4,
    .off-6-8{
        margin-left: calc(100%/1.334);
    }
    .off-3-5{
        margin-left: calc(100%/1.667);
    }
    .off-3-7 {
        margin-left: calc(100%/2.334);
    }
    .off-3-8 {
        margin-left: calc(100%/2.667);
    }
    .off-4-5{
        margin-left: calc(100%/1.25);
    }
    .off-4-7{
        margin-left: calc(100%/1.25);
    }
    .off-5-6{
        margin-left: calc(100%/1.2);
    }
    .off-5-7 {
        margin-left: calc(100%/1.4);
    }
    .off-5-8 {
        margin-left: calc(100%/1.6);
    }
    .off-6-7 {
        margin-left: calc(100%/1.1667);
    }
    .off-7-8 {
        margin-left: calc(100%/1.143);
    }

// Function to generate the grid @media:
.makeGridMedia(@size) {
    .@{size}-1-1,
    .@{size}-2-2,
    .@{size}-3-3,
    .@{size}-4-4,
    .@{size}-5-5,
    .@{size}-6-6,
    .@{size}-7-7,
    .@{size}-8-8{ .col-1-1(); }
    .@{size}-1-2,
    .@{size}-2-4,
    .@{size}-3-6,
    .@{size}-4-8{ .col-2-4(); }
    .@{size}-1-3,
    .@{size}-2-6{ .col-1-3(); }
    .@{size}-1-4,
    .@{size}-2-8{ .col-1-4(); }
    .@{size}-1-5{ .col-1-5(); }
    .@{size}-1-6{ .col-1-6(); }
    .@{size}-1-7{ .col-1-7(); }
    .@{size}-1-8{ .col-1-8(); }
    .@{size}-2-3,
    .@{size}-4-6{ .col-2-3(); }
    .@{size}-2-5{ .col-2-5(); }
    .@{size}-2-7{ .col-2-7(); }
    .@{size}-3-4,
    .@{size}-6-8{ .col-3-4(); }
    .@{size}-3-5{ .col-3-5(); }
    .@{size}-3-7{ .col-3-7(); }
    .@{size}-3-8{ .col-3-8(); }
    .@{size}-4-5{ .col-4-5(); }
    .@{size}-4-7{ .col-4-7(); }
    .@{size}-5-6{ .col-5-6(); }
    .@{size}-5-7{ .col-5-7(); }
    .@{size}-5-8{ .col-5-8(); }
    .@{size}-6-7{ .col-6-7(); }
    .@{size}-7-8{ .col-7-8(); }
}

// Application of .makeGridMedia():

@media @xs{
    .makeGridMedia(xs);
}
@media @sm{
    .makeGridMedia(sm);
}
@media @md{
    .makeGridMedia(md);
}
@media @lg{
    .makeGridMedia(lg);
}
@media @xl{
    .makeGridMedia(xl);
}