/* ==========================================================================
    GRIDLEX
    Just a Flexbox Grid System
========================================================================== */

@import "gridlex-vars";

[class*="grid"]{
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0 -@gutter;
}
[class*="col"]{
  box-sizing: border-box;
  flex: 0 0 auto;
  padding: 0 @gutter (@gutter*2);
}
[class*="grid"][class*="col"]{
  margin: 0;
  padding: 0;
}
.col{
  flex: 1 1 0;
}

/************************
    HELPERS SUFFIXES
*************************/
/* No spacing between cols : noGutter */
  [class*="-noGutter"]{
    margin: 0;
    > [class*="col"]{
      padding: 0;
    }
  }

/* Horizontal aligment */
  [class*="-center"]{
    justify-content: center;
  }
  [class*="-right"]{
    justify-content: flex-end;
    align-self: flex-end;
    margin-left: auto;
  }
/* Vertical aligment */
  [class*="grid"][class*="-top"]{ // for grid
    align-items: flex-start;
  }
  [class*="col"][class*="-top"]{ // for col
    align-self: flex-start;
  }
  [class*="grid"][class*="-middle"]{ // for grid
    align-items: center;
  }
  [class*="col"][class*="-middle"]{ // for col
    align-self: center;
  }
  [class*="grid"][class*="-bottom"]{ // for grid
    align-items: flex-end;
  }
  [class*="col"][class*="-bottom"]{ // for col
    align-self: flex-end;
  }

/* Orders */
  [class*="-reverse"]{ // for grid
    flex-direction: row-reverse;
  }
  [class*="-column"] { // for grid
    flex-direction: column;
  }
  [class*="-column-reverse"] { // for grid
    flex-direction: column-reverse;
  }
  [class*="-first"]{ // for col
      order: -1;
  }
  [class*="-last"]{ // for col
      order: 1;
  }

/* Spaces between and around cols */
  [class*="-spaceBetween"]{ // for grid
    justify-content: space-between;
  }
  [class*="-spaceAround"]{ // for grid
    justify-content: space-around;
  }

/* Equal heights columns */
  [class*="-equalHeight"] > [class*="col"]{ // for grid
    display: flex;
  }

/************************
    GRID BY NUMBER
*************************/
.makeGridByNumber(grid);

@media @lg{
  .makeGridByNumber(_lg);
}
@media @md{
  .makeGridByNumber(_md);
}
@media @sm{
  .makeGridByNumber(_sm);
}
@media @xs{
  .makeGridByNumber(_xs);
}


/************************
    COLS SIZEQ
*************************/
.makeCol(col);
.makeOff(off,left);
.makeOff(off,right);

@media @lg{
  .makeCol(_lg);
  .makeOff(_lg,left);
  .makeOff(_lg,right);
}
@media @md{
  .makeCol(_md);
  .makeOff(_md,left);
  .makeOff(_md,right);
}
@media @sm{
  .makeCol(_sm);
  .makeOff(_sm,left);
  .makeOff(_sm,right);
}
@media @xs{
  .makeCol(_xs);
  .makeOff(_xs,left);
  .makeOff(_xs,right);
}
